# Test reports
/build

# generated documentation
/doc
/docs
.phpdoc

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer
/vendor
/composer.lock
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
.phpunit.result.cache
phpunit.xml.dist.bak

# PHP CS fixer cache
/.php_cs.cache
